.parCss {
  background-color: chartreuse;
}

.imparCss {
  background-color: coral;
}

.primeiroCss {
  background-color: aqua;
}

.ultimoCss {
  background-color: burlywood;
}

.textoCss {
  color: white;
}
