<!-- conteudo notificações -->

<div class="container-notifications mx-3 mx-md-auto offset-md-2 col-md-7">
  <ntap-notification-add
    (notificacaoCadastrada)="atualizarLista()"
    >

  </ntap-notification-add>
  <div class="list-group d-flex mt-5">
    <!-- Se for utilizar pipe async -->
    <!-- <a
      *ngFor="let item of (notifications$ | async); index as indice"
      class="list-group-item list-group-item-action d-flex gap-3 py-3"
      [ngClass]="{'opacity-50': item.lido}"
    > -->
    <a
      *ngFor="let item of listaDeNotificacoes; index as indice"
      class="list-group-item list-group-item-action d-flex gap-3 py-3"
      [ngClass]="{ 'opacity-50': item.lido }"
    >
      <img
        src="{{ item.imagem }}"
        alt="twbs"
        width="32"
        height="32"
        class="rounded-circle flex-shrink-0"
      />
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div class="me-auto">
          <h6 class="mb-0">{{ item.titulo }}</h6>
          <p class="mb-0 opacity-75">
            {{ item.descricao }}
          </p>
        </div>

        <small class="text-nowrap " ngClass="">
          {{ item.tempoPublicacao }}
          <span
            *ngIf="!item.lido"
            class="badge rounded-pill text-bg-secondary"
            ngClass="ms-2"
            (click)="lerNotificacao(item)"
          >
            <i class="bi bi-eye"></i>
          </span>
        </small>
        <i class="bi bi-trash text-danger"
          (click)="removerNotificacao(item.id)"
        >
        </i>
      </div>
    </a>
  </div>
</div>
