<div class="container">
    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" name="nome" id="nome" placeholder="Nome">
    </div>
    <div class="form-group">
        <label for="cargahoraria">Carga Horária</label>
        <input type="text" class="form-control" name="cargahoraria" id="cargahoraria" placeholder="Carga Horária">

    </div>
    <div class="form-group">
        <label for="escola">Escola</label>
        <input type="text" class="form-control" name="escola" id="escola" placeholder="Escola">
    </div>
    <div class="form-group">
        <label for="professor">Professor</label>
        <select class="form-control" name="professor" id="professor">
            <option value="" selected>Selecione um professor</option>
            <option value="Otávio">Otávio</option>
            <option value="Vivian">Vivian</option>
            <option value="Leandro">Leandro</option>
            <option value="Cláudia">Cláudia</option>
        </select>
    </div>
    <div class="form-check">
        <label class="form-check-label">
            <input type="checkbox" class="form-check-input" name="materiaopcional" id="materiaopcional" value="Sim">
            Matéria Opcional
        </label>
    </div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Enviar Formulário
    </button>

</div>