<app-navbar></app-navbar>
<app-capitalize></app-capitalize>
<hr>
<app-fotos></app-fotos>
<hr>
<app-modal>
  <p>
	Lorem ipsum dolor sit amet consectetur adipisicing elit. Error minima
	libero veniam, modi corrupti doloremque repellendus vitae mollitia. Ipsum
	voluptatibus ea ab quos molestiae at expedita maiores dolore a corrupti!
  </p>
</app-modal>
<hr>
<app-card>
  <h5 card-title class="card-title">Card top demais</h5>
  <h6 card-subtitle class="card-subtitle mb-2 text-muted" >Este card tem futuro</h6>
  <p card-text class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</app-card>
<hr>
<app-input-validation></app-input-validation>
<hr>
<app-todo-list></app-todo-list>
