<ntap-buttons></ntap-buttons>
<div class="list-group w-auto">
    <a *ngFor="let notification of notifications" href="#" (click)="visualized(notification.id)"
        class="list-group-item list-group-item-action d-flex gap-3 py-3" [ngClass]="{'msglida' : notification.lida}"
        aria-current="true">
        <img src="../assets/calendar.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
        <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
                <h6 class="mb-0">{{notification.titulo}}</h6>
                <p class="mb-0 opacity-75">{{notification.mensagem}}</p>
            </div>
            <small class="opacity-50 text-nowrap">{{notification.data}}</small>
        </div>
    </a>
    <p class="text-right">*Clique no evento para marcar como visualizada</p>
</div>