<header>
  <nav>
    <ul>
      <li>
        <a routerLink="inicio"
           [routerLinkActive]="['ativo', 'teste']"
           [routerLinkActiveOptions]="{ exact: true }"
        >Inicio</a>
      </li>

      <li>
        <a
        routerLinkActive="ativo"
        [routerLink]="['sobre']">Sobre</a>
      </li>

      <li>
        <a
        routerLinkActive="ativo"
        routerLink="contato">Contato</a>
      </li>

      <li>
        <a
        routerLinkActive="ativo"
        routerLink="login">Login</a>
      </li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>
