<h1>Exemplos Ciclo de Vida</h1>

<app-list
  *ngIf="temPermissao"
  [nomePessoa]="nomePessoaPai">
</app-list>


<!-- <h1>Exemplos Componentes</h1> -->

<!-- <app-button-actions></app-button-actions> -->

<!-- <app-button-actions
  tituloBotaoPrimario="Inserir"
  tituloBotaoSecundario="Deletar"
  (botaoPrimarioClicado)="botaoFilhoPrimario($event)"
  (botaoSegundarioClicado)="botaoFilhoSecundario($event)"
></app-button-actions> -->

<!-- <app-button-actions
  tituloBotaoPrimario="Cadastrar"
  tituloBotaoSecundario="Limpar"
></app-button-actions> -->


