<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Handlee&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="mb-3">
        <form th:object="${novoProdutoDto}" class="card-body" th:action="@{/produto/novo}" method="POST">
            <div class="form-group">
                <label for="nome" class="form-label" >Produto</label>
                <input th:field="*{nome}" id="nome" th:errorClass="is-invalid" placeholder="nome do produto" class="form-control"/>
                <small>Informe qual o nome do produto.</small>
                <div class="invalid-feedback" th:errors="*{nome}">
                    Erros do nome do produto
                </div>
            </div>
            <div class="form-group">
                <label for="descricao" class="form-label" >Descrição</label>
                <input th:field="*{descricao}" id="descricao" th:errorClass="is-invalid" placeholder="descrição do produto" class="form-control"/>
                <small>Informa a descrição produto.</small>
                <div class="invalid-feedback" th:errors="*{descricao}">
                    Erros na descrição do produto
                </div>
            </div>
            <div class="form-group">
                <label for="valor" class="form-label" >Valor</label>
                <input th:field="*{valor}" id="valor" th:errorClass="is-invalid" placeholder="valor do produto" class="form-control"/>
                <small>Informa a descrição produto.</small>
                <div class="invalid-feedback" th:errors="*{valor}">
                    Erros no valor do produto
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
</body>
</html>